redis==2.10.6
rq==0.12.0
rq-scheduler==0.8.3
Flask==1.0.2
Flask-RESTful==0.3.6
Flask-RQ2==18.1
requests==2.20.1
gunicorn==19.9.0
pylokit==0.8.1
filemagic==1.6
cffi==1.11.5
wand==0.4.5
ujson==1.35
nose==1.3.7
ordbok==0.1.9
PyPDF2==1.26.0
graypy==0.3.2